<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>E-Books</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- data table -->
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />


<link rel="icon" href="/image/applie-touch-icon.png" />
</head>

<body>
	<div th:fragment="navbar">
		<div class="page-top"
			style="width: 100%; height: 10px; background-color: #008080;"></div>
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}"><span
						class="glyphicon glyphicon-home"></span> E-Books</a>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-left">
						<li class="dropdown"><a th:href="@{/bookshelf}"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false"><span
								class="glyphicon glyphicon-list-alt"></span> BOOKS <span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/bookshelf}"><span class="glyphicon glyphicon-th-list"></span> Browse All Books</a></li>
								<li><a th:href="@{/searchByCategory(category='Programming')}" 
							class="list-group-item"><span class="glyphicon glyphicon-book"></span> Programming</a></li>
							
							<li><a th:href="@{/searchByCategory(category='Engineering')}" 
							class="list-group-item"><span class="glyphicon glyphicon-book"></span> Engineering</a></li>
							
							
							<li><a th:href="@{/searchByCategory(category='Fiction')}" 
							class="list-group-item"><span class="glyphicon glyphicon-book"></span> Fiction</a></li>
							
							<li><a th:href="@{/searchByCategory(category='Management')}" 
							class="list-group-item"><span class="glyphicon glyphicon-book"></span> Management</a></li>
							
							<li><a th:href="@{/searchByCategory(category='Arts &amp; Literature')}" 
							class="list-group-item"><span class="glyphicon glyphicon-book"></span> Arts &amp; Literature</a></li>
							
							<li><a th:href="@{/faq}"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a></li>

							</ul></li>
						<form class="navbar-form" th:action="@{/searchBook}" method="post">
							<div class="form-group">
								<input type="text" name="keyword" class="form-control"
									placeholder="Book title" />
							</div>
							
							<button type="submit" class="btn btn-info btn-sm"><span
								class="glyphicon glyphicon-search"></span> Search</button>
						
						</form>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/shoppingCart/cart}"><span
								class="glyphicon glyphicon-shopping-cart"></span> SHOPPING CART</a></li>
						<li><a sec:authorize="isAnonymous()" th:href="@{/login}"><span
								class="glyphicon glyphicon-user"></span> MY ACCOUNT</a></li>
						<li><a sec:authorize="isAuthenticated()"
							th:href="@{/myProfile}"><span
								class="glyphicon glyphicon-user"></span> MY ACCOUNT</a></li>
						<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}"><span
								class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
	</div>

	<div th:fragment="footer">
		<br /> <br />
		<footer>
			<div class="row">
				<div class="col-xs-3 footerleft">
					<div class="logofooter">
						<a th:href="@{/}"><img class="img-responsive"
							src="/image/logo.png" style="width: 200px;" /></a>
					</div>
					<p>
						E-book. <br />The World's best books is here.
					</p>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">CONTACT</h6>
					<ul class="post">
						<p>
							<i class="fa fa-map-pin"></i> Mirpur - 12<br /> Dhaka, 
						</p>
						<p>
							<i class="fa fa-phone"></i> Phone (BD) : +8801712-345678
						</p>
						<p>
							<i class="fa fa-envelope"></i> E-mail : foysal.ecommerce.com
						</p>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">LINKS</h6>
					<ul class="footer-ul">
						<li><a href="#"> Privacy Policy</a></li>
						<li><a href="#"> Terms &#38; Conditions</a></li>
						<li><a href="#"> Frequently Ask Questions</a></li>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">Open HOURS</h6>
					<div class="post">
						<p>Monday - Saturday: 9am - 12pm</p>
						<p>Sunday: 10am - 9pm</p>
					</div>
				</div>
			</div>
		</footer>

		<div class="copyright">
			<div class="col-md-6">
				<p>© 2020 - All Rights Reserved</p>
			</div>
			<div class="col-md-6">
				<ul class="bottom_ul">
					<li><a th:href="badRequestPage.html">About us</a></li>
					<li><a href="#">Foysal</a></li>
					<li><a href="#">Mahmud</a></li>
					
				</ul>
			</div>
		</div>
	</div>


	<div th:fragment="body-bottom-scripts">
		<script th:src="@{/js/jquery.min.js}"></script>
		<script src="/js/bootstrap.min.js"></script>

		<script th:src="@{/js/scripts.js}"></script>

		<!-- data table -->
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
	</div>
</body>
</html>